<!DOCTYPE html>
<html>

<head>
    <style>
        html,
        body {
            height: 100%;
            margin: 0;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        table {
            border: 1px solid black;
            padding: 10px;
        }
    </style>
</head>

<body>
    <form onsubmit="return validateForm()">
        <table>
            <tr>
                <td>Old Password:</td>
                <td><input type="password" id="old_password" name="old_password"></td>
            </tr>
            <tr>
                <td>New Password:</td>
                <td><input type="password" id="new_password" name="new_password"></td>
            </tr>
            <tr>
                <td colspan="2" style="text-align: center;">
                    <button type="submit" name="action" value="password">Update</button>
                </td>
            </tr>
        </table>
    </form>

    <script src="../../../assets/UserProfile/UpdateInfo/password.js">
        
    </script>
</body>

</html>